{% extends 'webapp/base.html' %}
{% load static %}


<body>
{% block content %}

<!--gallery-->
<div class="gallery">
	<div class="container">
		<div class="galler-top">
			<li><div class="box maxheight">
			<a class="example-image-link" href="../../static/webapp/images/g1.jpg" data-lightbox="example-1" data-title="Guidance."><img class="example-image img-responsive" src="{% static 'webapp/images/g1.jpg' %}"></a>
		</div></li>
			<li><div class="box maxheight">
			<a class="example-image-link" href="../../static/webapp/images/g2.jpg" data-lightbox="example-1" data-title="Guidance."><img class="example-image img-responsive" src="{% static 'webapp/images/g2.jpg' %}"></a>
		</div></li>
			<li><div class="box maxheight">
			<a class="example-image-link" href="../../static/webapp/images/g3.jpg" data-lightbox="example-1" data-title="Guidance."><img class="example-image img-responsive" src="{% static 'webapp/images/g3.jpg' %}"></a>
		</div></li>
			<li><div class="box maxheight">
			<a class="example-image-link" href="../../static/webapp/images/g4.jpg" data-lightbox="example-1" data-title="Guidance."><img class="example-image img-responsive" src="{% static 'webapp/images/g4.jpg' %}"></a>
		</div></li>
			<li><div class="box maxheight">
			<a class="example-image-link" href="../../static/webapp/images/g9.jpg" data-lightbox="example-1" data-title="Guidance."><img class="example-image img-responsive" src="{% static 'webapp/images/g9.jpg' %}"></a>
		</div></li>
			<li><div class="box maxheight">
			<a class="example-image-link" href="../../static/webapp/images/g7.jpg" data-lightbox="example-1" data-title="Guidance."><img class="example-image img-responsive" src="{% static 'webapp/images/g7.jpg' %}"></a>
		</div></li>
			<li><div class="box maxheight">
			<a class="example-image-link" href="../../static/webapp/images/g8.jpg" data-lightbox="example-1" data-title="Guidance."><img class="example-image img-responsive" src="{% static 'webapp/images/g8.jpg' %}"></a>
		</div></li>
			<li><div class="box maxheight">
			<a class="example-image-link" href="../../static/webapp/images/g5.jpg" data-lightbox="example-1" data-title="Guidance."><img class="example-image img-responsive" src="{% static 'webapp/images/g5.jpg' %}"></a>
		</div></li>
		<li><div class="box maxheight">
			<a class="example-image-link" href="../../static/webapp/images/g9.jpg" data-lightbox="example-1" data-title="Guidance."><img class="example-image img-responsive" src="{% static 'webapp/images/g9.jpg' %}"></a>
		</div></li>
		<div class="clearfix"></div>
		<!-- light-box -->
					<script src="{% static 'webapp/js/lightbox-plus-jquery.min.js' %}"></script>
					<link rel="stylesheet" href="{% static 'webapp/css/lightbox.css' %}">
				<!-- //light-box -->


		</div>
	</div>
</div>
<!--gallery-->
{% endblock %}
</body>